input {
  elasticsearch {
    hosts => "192.168.70.182:30200"
 	  index => "sec_ptt-*"
 	  docinfo => true
  }
}

output {
  elasticsearch { hosts => ["211.23.163.51:19200"] 
   index => "%{[@metadata][_index]}"
    document_type => "%{[@metadata][_type]}"
    document_id => "%{[@metadata][_id]}"
   }
  stdout{
    codec => "rubydebug"
  }
  
}
